<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Recordatorio de Credenciales</h1>
  <p>Estimado/a <%= @professor_data[:full_name] %>,</p>
  <p>Este es un recordatorio de sus credenciales de acceso al sistema:</p>
  <ul>
    <li>Correo electrónico: <%= @user_email %></li>
    <li>Contraseña: <%= @user_password %></li>
  </ul>
  <p>Por favor, guarde esta información en un lugar seguro.</p>
  <p>Saludos cordiales,</p>
  <p>El equipo de soporte</p>
</body>
</html>