<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Cambio Exitoso</h1>
  <p>Estimado/a <%= @professor_data[:full_name] %>,</p>
  <p>Este es un recordatorio de que sus datos han sido actualizados exitosamente.</p>

  <p>Saludos cordiales,</p>
  <p>El equipo de soporte</p>
</body>
</html>
