<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Recovery</h1>
    <p>Hello <%= @user_email %>,</p>
    <p>You have requested to recover your password. Please find your temporary credentials below:</p>
    <ul>
      <li>Email: <%= @user_email %></li>
      <li>Temporary Password: <%= @user_password %></li>
    </ul>
    <p>Please use these credentials to log in and change your password.</p>
    <p>If you didn't request this change, please contact the system administrator.</p>
  </body>
</html>