<h1>Bienvenid@, <%= @professor.full_name %>!</h1>

<p>Su cuenta de profesor fue creada éxitosamente en el Sistema TEC.</p>

<p>Aqui están sus credenciales para ingresar:</p>
<ul>
  <li>Email: <%= @user_email %></li>
  <li>Password: <%= @user_password %></li>
</ul>

<p>Porfavor ingresar al sistema con estas.</p>